In [ ]:
# Imports 
import pandas as pd
import numpy as np

In [ ]:
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret =

In [ ]:
import tweepy

In [ ]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)
dev_env = 'europeansoccerleaguedata'

In [ ]:
#dates must be in this format yyyyMMddHHmm
b_date = '202107011200'
e_date = '202107302359'

In [ ]:
full_text2 = []
likes2 = []
date2 = []
tweet_id2 = []
for page in tweepy.Cursor(api.search_full_archive,environment_name=dev_env,query = '#EuropeanSuperLeague lang:en',fromDate = b_date,toDate=e_date).pages(10):
  for status in page:
    full_text2.append(status.text)
    likes2.append(status.favorite_count)
    date2.append(status.created_at)
    tweet_id2.append(status.id)

In [ ]:
july_data = pd.DataFrame({'tweet':full_text2,'likes': likes2, 'date_posted' : date2, 'id':tweet_id2})

In [ ]:
july_data

                                                 tweet  ...                   id
0    I wonder how fans of the six English clubs tha...  ...  1421214110558179328
1    European Super League: Barcelona, Real Madrid ...  ...  1421206233810448394
2    Told you, it wasn't going away. Do you really ...  ...  1421205126803505155
3    #SuperLeague. This is going to happen, eventua...  ...  1421204576938741767
4    The problem with the battle between #UEFA and ...  ...  1421201001542045697
..                                                 ...  ...                  ...
291  Has to be retweeted and if we all retweet more...  ...  1410872807697883136
292  RT @Retro_George: Today's #EuropeanSuperLeague...  ...  1410867267961769985
293  RT @ashraf890251: Check out my Gig on Fiverr: ...  ...  1410781522127462405
294  RT @sofiartmedia: EURO 2020-2021 UEFA European...  ...  1410641818010755077
295  A Spanish court ordered UEFA to cancel all leg...  ...  1410629009851879433

[296 rows x 4 columns]

In [ ]:
july_data.to_csv('july_data.csv')