In [ ]:
# Imports 
import pandas as pd
import numpy as np

In [ ]:
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret =

In [ ]:
import tweepy

In [ ]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)
dev_env = 'europeansoccerleaguedata'

In [ ]:
#dates must be in this format yyyyMMddHHmm
b_date = '202104181200'
e_date = '202105202359'

In [ ]:
test = api.search_full_archive(environment_name=dev_env,query = '#EuropeanSuperLeague lang:en',fromDate = b_date,toDate=e_date)

In [ ]:

full_text = []
likes = []
date = []
tweet_id = []
for tweet in test:
    full_text.append(tweet.text)
    likes.append(tweet.favorite_count)
    date.append(tweet.created_at)
    tweet_id.append(tweet.id)

In [ ]:
len(full_text)

100

In [ ]:
df = pd.DataFrame({'tweet':full_text,'likes': likes, 'date_posted' : date, 'id':tweet_id})

In [ ]:
df

                                                tweet  ...                   id
0   #EuropeanSuperLeague #FIFA #GianniInfantino ES...  ...  1395525763277877251
1   Episode 46 - finally talking football! Did the...  ...  1395487638073888771
2   RT @paulnixey: Sport: more important than ever...  ...  1395463474893914112
3   Sport: more important than ever. \n\nPR: alway...  ...  1395462507041411073
4   . @PaulNixey and @KylieMcMullan write: Communi...  ...  1395461951518433282
..                                                ...  ...                  ...
95  Petition: Introduce an Independent Regulator f...  ...  1394215567243022336
96  @RichardGillis1 @ECB_cricket @TeddingtonCC @1P...  ...  1394005162528808966
97  #Spotify boss says bid for #Arsenal rejected\n...  ...  1393989630706475012
98  RT @abdiwahabmaalim: They Wanted The #european...  ...  1393988751936954369
99  They Wanted The #europeansuperleague. Will Eur...  ...  1393987139537416192

[100 rows x 4 columns]

In [ ]:
full_text2 = []
likes2 = []
date2 = []
tweet_id2 = []
for page in tweepy.Cursor(api.search_full_archive,environment_name=dev_env,query = '#EuropeanSuperLeague lang:en',fromDate = b_date,toDate=e_date).pages(10):
  for status in page:
    full_text2.append(status.text)
    likes2.append(status.favorite_count)
    date2.append(status.created_at)
    tweet_id2.append(status.id)

In [ ]:
announcement_data = pd.DataFrame({'tweet':full_text2,'likes': likes2, 'date_posted' : date2, 'id':tweet_id2})

In [ ]:
announcement_data

                                                 tweet  ...                   id
0    #EuropeanSuperLeague #FIFA #GianniInfantino ES...  ...  1395525763277877251
1    Episode 46 - finally talking football! Did the...  ...  1395487638073888771
2    RT @paulnixey: Sport: more important than ever...  ...  1395463474893914112
3    Sport: more important than ever. \n\nPR: alway...  ...  1395462507041411073
4    . @PaulNixey and @KylieMcMullan write: Communi...  ...  1395461951518433282
..                                                 ...  ...                  ...
995  It looks more than likely that @UEFAcom marque...  ...  1390279704482091008
996  UEFA are looking to agree a lenient sanction f...  ...  1390279549133463554
997  Chelsea &amp; City final. Bring back the #Euro...  ...  1390255006708797441
998  RT @Ed74663303: @PeterStefanovi2 @rowanscott @...  ...  1390252987755507712
999  Manchester United boss Ole Gunnar Solskjaer ha...  ...  1390248122790686722

[1000 rows x 4 columns]

In [ ]:
announcement_data.to_csv('announcement_data.csv')