In order to garner more data I queried for more Tweets that include the phrase 'European Super league' instead of the hashtag used before.

In [ ]:
import tweepy
import pandas as pd
import datetime as dt

In [ ]:
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 

auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [ ]:
text = []
likes = []
date = []
last_date = 202107272359
for query in range(1,5):
    t = api.search_30_day(environment_name='nlpanalysis',query ='"European Super League" lang:en', maxResults = 100,toDate=last_date)
    for i in t:
        text.append(i.text)
        likes.append(i.favorite_count)
        date.append(i.created_at)
    timestamp = date[-1:][0]
    t = str(timestamp.year)+'0'+str(timestamp.month)+str(timestamp.day)+'1200'
    last_date=int(t)

In [ ]:
phrase_data = pd.DataFrame({'tweet':text,'likes':likes,'date':date})

In [ ]:
phrase_data

,tweet,likes,date
0,RT @YanitedAlways: 100 days today since the Eu...,0,2021-07-27 23:44:03
1,RT @YanitedAlways: 100 days today since the Eu...,0,2021-07-27 23:41:17
2,100 days today since the European Super League...,15,2021-07-27 23:33:54
3,RT @MayowaQuadri_: I knew something was up whe...,0,2021-07-27 23:23:38
4,RT @MayowaQuadri_: I knew something was up whe...,0,2021-07-27 23:23:09
...,...,...,...
395,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 04:11:38
396,RT @SkySportsNews: Manchester United fans gath...,0,2021-07-26 04:08:56
397,European Super League \n\nMeet ü§ù\n\nCollege Sp...,2,2021-07-26 03:22:48
398,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 01:18:00
399,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 01:14:45

In [ ]:
c = phrase_data.drop_duplicates()

In [ ]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 0 to 299
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   270 non-null    object
 1   likes   270 non-null    int64
 2   date    270 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 8.4+ KB

In [ ]:
c

,tweet,likes,date
0,RT @YanitedAlways: 100 days today since the Eu...,0,2021-07-27 23:44:03
1,RT @YanitedAlways: 100 days today since the Eu...,0,2021-07-27 23:41:17
2,100 days today since the European Super League...,15,2021-07-27 23:33:54
3,RT @MayowaQuadri_: I knew something was up whe...,0,2021-07-27 23:23:38
4,RT @MayowaQuadri_: I knew something was up whe...,0,2021-07-27 23:23:09
...,...,...,...
295,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 04:11:38
296,RT @SkySportsNews: Manchester United fans gath...,0,2021-07-26 04:08:56
297,European Super League \n\nMeet ü§ù\n\nCollege Sp...,2,2021-07-26 03:22:48
298,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 01:18:00
299,"RT @MSHopkins4: Just announced, that you can't...",0,2021-07-26 01:14:45

In [ ]:
c.to_csv('phrase_data.csv')