## Scrapping Twitter Data
In this notebook I will obtain the main dataset that I will use for analysis in this project. Initially looking to scrape tweets that include the #EuropeanSuperLeague that were tweeted between April 18th 2021 (the announcement of the league) and May 20th 2021. 
I believe this will give a good idea of what was the sentiment towards this new idea when it was announced to the world.

The scrapping will be done using Twitter's own API and text data will be modified using Spacy. 

After being unable to retrieve twitter data from the initially planned dates, the analysis will focus on current sentiment towards the idea, with a limited amount of data.

In [ ]:
# Imports 
import pandas as pd
import numpy as np

In [ ]:
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret =

In [ ]:
import tweepy

In [ ]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [ ]:
#dates must be in this format yyyyMMddHHmm
b_date = '202104181200'
e_date = '202105202359'

In [ ]:
t = api.search(enviroment='nlpanalysis',q ='#EuropeanSuperLeague lang:en -filter:retweets', count = 250, result_type = 'recent', tweet_mode = 'extended')

In [ ]:
len(t)

17

In [ ]:
t[8].id

1418484509771763716

In [ ]:
full_text = []
likes = []
date = []
tweet_id = []
for tweet in t:
    full_text.append(tweet.full_text)
    likes.append(tweet.favorite_count)
    date.append(tweet.created_at)
    tweet_id.append(tweet.id)

In [ ]:
df = pd.DataFrame({'tweet':full_text,'likes': likes, 'date_posted' : date, 'id':tweet_id})

In [ ]:
df

,tweet,likes,date_posted,id
0,"A special thank you to @adamblaizelives, @domi...",5,2021-07-26 16:31:25,1419696873489813511
1,@Ap3Journalism @TheUnitedWay99 @ManUnitedZone_...,2,2021-07-26 09:05:21,1419584614813798407
2,@jimwaterson @BBC @Olympics I donâ€™t disagree. ...,2,2021-07-25 16:20:35,1419331756138840069
3,"What a difference three months makes, since th...",182,2021-07-25 10:50:10,1419248606721232897
4,I have to say those American #EuropeanSuperLea...,0,2021-07-23 22:22:09,1418697971084840960
5,@SkySportsNews Still waiting for the ESL punis...,0,2021-07-23 12:57:57,1418555988463046657
6,Still waiting for the ESL punishment to the Pr...,1,2021-07-23 12:56:53,1418555717531881473
7,How could a CJEU ruling on the International S...,0,2021-07-23 09:01:03,1418496368222646272
8,Many months ago 6 teams agreed to pay a fine #...,10,2021-07-23 08:13:55,1418484509771763716
9,European Super League: Billionaires Want to Ma...,0,2021-07-23 06:00:40,1418450976017637378
10,#NBAFinals are over.. #Olympics2021 are in a b...,0,2021-07-21 22:25:49,1417974119489056769
11,âš½ Social media has been a driver for the commo...,1,2021-07-21 11:45:18,1417812928368099333
12,Why do I feel the breakaway teams who were sto...,0,2021-07-21 10:37:43,1417795919207141378
13,@robot_lien Halo! here is your unroll: ðŸ‡ªðŸ‡º Key ...,0,2021-07-21 09:50:07,1417783940367126529
14,Can't believe I am counting days special event...,8,2021-07-21 07:38:38,1417750852958314497
15,#LaLiga join #UEFA and #FIFA in #EuropeanSuper...,0,2021-07-19 22:41:42,1417253342980550660
16,To think #NUFC fans were actually appalled by ...,36,2021-07-19 18:20:48,1417187685521895428

In [ ]:
t_1[0].full_text

'A special thank you to @adamblaizelives, @dominictaylor6_, @JacobRanson27 and @MAAjournalism for the interviews! \n\n#Arsenal #Afc #ManchesterUnited #Mufc #Chelsea #Liverpool #ManchesterCity #Tottenham #Europeansuperleague #SuperLeague'

In [ ]:
t1 = api.search_30_day(environment_name='nlpanalysis',query ='#EuropeanSuperLeague lang:en', maxResults = 100)

In [ ]:
len(t1)

100

In [ ]:
text = []
likes2 = []
dates = []
for i in t1:
    text.append(i.text)
    likes2.append(i.favorite_count)
    dates.append(i.created_at)

In [ ]:
df2 = pd.DataFrame({'tweet':text,'likes':likes2,'date_posted':dates})

In [ ]:
df2.to_csv('First_set.csv')

In [ ]:
data = pd.read_csv('First_set.csv')

In [ ]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
data

,tweet,likes,date_posted
0,RT @adamblaizelives: @Ap3Journalism @TheUnited...,0,2021-07-26 16:37:07
1,"A special thank you to @adamblaizelives, @domi...",5,2021-07-26 16:31:25
2,@Ap3Journalism @TheUnitedWay99 @ManUnitedZone_...,2,2021-07-26 09:05:21
3,RT @org_scp: What a difference three months ma...,0,2021-07-25 22:04:29
4,RT @org_scp: What a difference three months ma...,0,2021-07-25 19:20:56
...,...,...,...
95,RT @PaulGallant11: To @OliverDowden our Takeov...,0,2021-07-17 07:35:15
96,To @OliverDowden our Takeover \nWe were in Lon...,17,2021-07-17 07:01:28
97,RT @stevetibbett: new podcast out today on the...,0,2021-07-16 13:35:22
98,RT @Anthony04201636: @theMadridZone @elconfide...,0,2021-07-16 10:12:15
99,RT @stevetibbett: new podcast out today on the...,0,2021-07-16 08:50:34

In [ ]:
t2 = api.search_30_day(environment_name='nlpanalysis',query ='#EuropeanSuperLeague lang:en', maxResults = 100, toDate = 202107160850)

In [ ]:
len(t2)

100

In [ ]:
text = []
likes2 = []
dates = []
for i in t2:
    text.append(i.text)
    likes2.append(i.favorite_count)
    dates.append(i.created_at)

In [ ]:
to_add = pd.DataFrame({'tweet':text,'likes':likes2,'date_posted':dates})

In [ ]:
to_add

,tweet,likes,date_posted
0,@theMadridZone @elconfidencial If this is Uefa...,9,2021-07-16 07:59:43
1,Italy makes bid to host 2028 european cup or 2...,0,2021-07-16 06:53:27
2,RT @europeangreens: Feeling betrayed by your f...,0,2021-07-15 20:31:16
3,RT @jake_pugh: #europeansuperleague What busin...,0,2021-07-15 19:44:32
4,"Israel is not Jewish, Israel is Zionist #movem...",1,2021-07-15 13:19:17
...,...,...,...
95,The 5 days of the #europeansuperleague showed ...,4,2021-06-29 20:59:30
96,RT @tvukzone: Sky commission #EuropeanSuperLea...,0,2021-06-29 20:05:55
97,RT @tvukzone: Sky Documentaries commission #Eu...,0,2021-06-29 20:02:45
98,Sky commission #EuropeanSuperLeague documentar...,5,2021-06-29 20:00:01
99,Check out my Gig on Fiverr: do excel data entr...,0,2021-06-29 18:59:37

In [ ]:
test = pd.concat([data,to_add])

In [ ]:
test

,tweet,likes,date_posted
0,RT @adamblaizelives: @Ap3Journalism @TheUnited...,0,2021-07-26 16:37:07
1,"A special thank you to @adamblaizelives, @domi...",5,2021-07-26 16:31:25
2,@Ap3Journalism @TheUnitedWay99 @ManUnitedZone_...,2,2021-07-26 09:05:21
3,RT @org_scp: What a difference three months ma...,0,2021-07-25 22:04:29
4,RT @org_scp: What a difference three months ma...,0,2021-07-25 19:20:56
...,...,...,...
95,The 5 days of the #europeansuperleague showed ...,4,2021-06-29 20:59:30
96,RT @tvukzone: Sky commission #EuropeanSuperLea...,0,2021-06-29 20:05:55
97,RT @tvukzone: Sky Documentaries commission #Eu...,0,2021-06-29 20:02:45
98,Sky commission #EuropeanSuperLeague documentar...,5,2021-06-29 20:00:01
99,Check out my Gig on Fiverr: do excel data entr...,0,2021-06-29 18:59:37

In [ ]:
t3 = api.search_30_day(environment_name='nlpanalysis',query ='#EuropeanSuperLeague lang:en', maxResults = 100, toDate = 202106291859)

In [ ]:
len(t3)

19

In [ ]:
text = []
likes3 = []
dates3 = []
for i in t3:
    text3.append(i.text)
    likes3.append(i.favorite_count)
    dates3.append(i.created_at)

In [ ]:
to_add2 = pd.DataFrame({'tweet':text3,'likes':likes3,'date_posted':dates3})

In [ ]:
to_add2

,tweet,likes,date_posted
0,"Check out my Gig on Fiverr: do data entry, web...",2,2021-06-29 18:58:12
1,RT @tvukzone: Sky Documentaries commission #Eu...,0,2021-06-29 16:34:02
2,Sky Documentaries commission #EuropeanSuperLea...,1,2021-06-29 16:30:00
3,RT @tvukzone: NEW: Sky Documentaries commissio...,0,2021-06-29 13:07:09
4,NEW: Sky Documentaries commission #EuropeanSup...,0,2021-06-29 13:00:01
5,#LiverpoolFC #EuropeanSuperLeague #FSG Liverpo...,0,2021-06-29 12:00:13
6,#EuropeanSuperLeagueâ€™s Demise To Be Subject Of...,0,2021-06-29 10:53:09
7,Sky announces new documentary on the rise and ...,2,2021-06-29 10:40:02
8,Sky Documentaries to air European Super League...,3,2021-06-29 10:36:06
9,As England aims to progress further in #Euro20...,3,2021-06-29 10:33:26
10,#EuropeanSuperLeague Documentary Heads to Sky ...,0,2021-06-29 10:03:07
11,Still raw and bewildering for most of us - but...,0,2021-06-29 08:43:30
12,"RT @davez2010: Deduct points, relegate, ban al...",0,2021-06-28 19:54:32
13,It's nearly July and some people still have th...,2,2021-06-28 15:42:33
14,European Super League: What history can teach ...,0,2021-06-27 08:30:09
15,RT @sofiartmedia: EURO 2020-2021 UEFA European...,0,2021-06-26 09:10:20
16,RT @sofiartmedia: EURO 2020-2021 UEFA European...,0,2021-06-26 09:10:16
17,"""We are not excluding anyone, but everyone can...",0,2021-06-26 06:47:06
18,RT @BasherNafiz: Jesse Lingard at the ballon d...,0,2021-06-26 04:43:32

In [ ]:
final = pd.concat([test,to_add2])

In [ ]:
final

,tweet,likes,date_posted
0,RT @adamblaizelives: @Ap3Journalism @TheUnited...,0,2021-07-26 16:37:07
1,"A special thank you to @adamblaizelives, @domi...",5,2021-07-26 16:31:25
2,@Ap3Journalism @TheUnitedWay99 @ManUnitedZone_...,2,2021-07-26 09:05:21
3,RT @org_scp: What a difference three months ma...,0,2021-07-25 22:04:29
4,RT @org_scp: What a difference three months ma...,0,2021-07-25 19:20:56
...,...,...,...
14,European Super League: What history can teach ...,0,2021-06-27 08:30:09
15,RT @sofiartmedia: EURO 2020-2021 UEFA European...,0,2021-06-26 09:10:20
16,RT @sofiartmedia: EURO 2020-2021 UEFA European...,0,2021-06-26 09:10:16
17,"""We are not excluding anyone, but everyone can...",0,2021-06-26 06:47:06
18,RT @BasherNafiz: Jesse Lingard at the ballon d...,0,2021-06-26 04:43:32

In [ ]:
t4 = api.search_30_day(environment_name='nlpanalysis',query ='#EuropeanSuperLeague lang:en', maxResults = 100, fromDate = 202107261637)

In [ ]:
len(t4)

73

In [ ]:
text4 = []
likes4 = []
dates4 = []
for i in t4:
    text4.append(i.text)
    likes4.append(i.favorite_count)
    dates4.append(i.created_at)
to_add3 = pd.DataFrame({'tweet':text4,'likes':likes4,'date_posted':dates4})

In [ ]:
final_data = pd.concat([to_add3,final])

In [ ]:
final_data = final_data.reset_index()

In [ ]:
final_data.drop('index',axis=1,inplace=True)

In [ ]:
final_data.to_csv('complete_data.csv')